# Python
venv/
.venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/
build/
.next/

# Environment
.env
.env.*

# Database
cloudsentinel.db
*.db

# Testing / cache
.coverage
.pytest_cache/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db